@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(pic/6213932.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */

}

/* body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(46, 45, 45, 0.5);
    height: 100vh;
    width: 100%;
    z-index: -99;

} */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

.logo {
    font-size: 30px;
    font-weight: 800;
    color: white;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 10px;
    position: relative;
    font-weight: 600;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.btnlogin-popup {
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background: transparent;
    border: 3px solid black;
    border-radius: 12px;
    cursor: pointer;
}


.wrapper {
    position: fixed; /* overlay on entire page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* scale 0 initially */
    width: 400px;
    height: 440px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease, height 0.3s ease;
    z-index: 999; /* on top of everything */
}

.wrapper.active-popup {
    transform: translate(-50%, -50%) scale(1); /* show popup */
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    /* display: none; */
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.Register {
    position: absolute;
        transition: none;

    transform: translateX(400px);
}

.wrapper.active .form-box.Register {
    /* display: none; */
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
    border-bottom-left-radius: 20px;
}

.form-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    transform: translateY(-50%);

    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;

}

.remember-forget {
    font-size: .9em;
    color: rgb(57, 56, 56);
    font-weight: 600;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forget a {
    color: #162938;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1em;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;

}

.login-register p a {
    color: #162938;
    font-weight: 600;
    text-decoration: none;

}

.login-register p a:hover {
    text-decoration: underline;
}